*{
	margin: 0;
	padding: 0;
	text-decoration: none;
	list-style-type: none;
    color: white!important;
}

.wrap{
	width: 1000px;
	height: 700px;
	margin: 0 auto;
}

.header{
	margin: 0 auto;
	width: 800px;
	height: 100px;
}
.navtop{
	width: 800px;
	height: 30px;
	text-align: right;
}
.navtop a{
	margin-right: 10px;
	margin-top: 4px;
	color: black;
	font-family: "微软雅黑";
	font-size: 12px;
}
.navtop a:hover{
	color: red;
}
.navtop span{
	margin-left: 1px;
	margin-right: 1px;
}
.navleft{
	width: 150px;
	height: 60px;
	float: left;
}
.navright{
	text-align: right;
	width: 400px;
	height: 60px;
	float: right;
	line-height: 60px;
	margin-right: 10px;
	border-top:2px solid white;
}
.navright a{
	float: right;
	display: block;
	margin-left: 36px;
	color: gray;
	font-family: "微软雅黑";
	font-size: 16px;
}

.main{
	width: 800px;
	height: 300px;
	margin: 0 auto;
	margin-top: 200px;
}
.maintop{
	width: 800px;
	height: 150px;
}
.topleft{
	width: 200px;
	height: 140px;
	float: left;
	border: 1px solid gainsboro;
}
.text p{
	display: inline-block;
	margin-top: 5px;
}
.wendu{
	width: 80px;
	height: 50px;
	float: right;
	color: white;
	border-bottom: 3px solid white;
	margin-right: 10px;
	font-size: 35px;
}
.img{
	margin-top: 20px;
}
.topb{
	width: 200px;
	margin-top: 5px;
}
.topb h5{
	display:inline;
}
.topright{
	width: 540px;
	height: 140px;
	float: right;
	border: 1px solid gainsboro;
	padding-left: 5px;
}
.biaoqian{
	width: 90px;
	height: 140px;
	float: left;
}
.fl{
	margin-top: 30px;
	font-size: 16px;
}
.mainbottom{
	width: 800px;
	height: 150px;
}
.bottoml{
	float: left;
	margin-right: 20px;
}
.bottomm{
	float: left;
}
.bottoml img{
	display: block;
	width: 120px;
	height: 160px;
}
.bottomm img{
	display: block;
	width: 460px;
	height: 160px;
}
.bottomr{
	width: 180px;
	height: 160px;
	float: left;
	margin-left: 20px;
}
.bottomr img{
	display: block;
	width: 80px;
	height: 80px;
	float: left;
}
.right{
	width: 90px;
	height: 80px;
	float: right;
}
.righttop{
	width: 180px;
	height: 80px;
	margin-bottom: 5px;
}
.biaoqian img:hover{
	background-color: rgba(7, 17, 27, 0.3);
        box-shadow: 0 0 8px #DDD;
    -moz-box-shadow: 0 0 8px #DDD;
    -webkit-box-shadow: 0 0 8px #DDD;
}
