@charset "utf-8";
body,div,ul,ol,li,dt,dd,dl,span,p,img,a,em,strong,h1,h2,h3,h4,td,th,tr,img,table,label,form,input,select,option{
	margin:0;
	padding:0;
}
article,aside,dialog,footer,header,section,footer,nav,figure,menu{display:block}
body{
	font-family: "微软雅黑";
}
ul{
	list-style: none;
}
a{
	text-decoration: none;
}
img{
	border: none;
}
#all{
    width: 100%;
	background:rgba(0,0,0,0.5);
/*	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#19ffffff,endColorstr=#19ffffff);*/
	position: absolute;
	z-index: 9999;
}
#countDown{
	width: 500px;
	height: 300px;
	background: white url(../img/TIjV-fxftkpv6857086.jpg) no-repeat center;
	background-size: 500px 300px;
	display: none;
	position: fixed;
	top: 30%;
	z-index: 100;
	left: 50%;
	margin-left: -250px;
}
#countDown h2{
	text-align: center;
	padding-top: 70px;
	color: red;
	font-size: 35px;
	letter-spacing: 5px;
}
#countDown span {
	display: block;
	text-align: center;
	padding-top: 50px;
	font-size: 30px;
	color: red;
}
#countDown img{
	position: absolute;
	right: 0;
	top: 0;
	cursor: pointer;
}
header{
	width: 100%;
	height: 60px;
	position: fixed;	
	background: white;
	z-index: 999;
}
/*.ie{   
       _position: absolute;  
       _clear: both;   
       _top:expression(eval(document.compatMode &&   
               document.compatMode=='CSS1Compat') ?   
               documentElement.scrollTop   
               +(documentElement.clientHeight-this.clientHeight) - 1   
               : document.body.scrollTop   
               +(document.body.clientHeight-this.clientHeight) - 1); 
}*/

.header-center{
	width: 1000px;
	margin: 0 auto;
}
.header-center .logo{
	float: left;
	padding-top:12px ;
	width: 20%;
}
.header-center .nav{
	float: left;
	text-align: center;
	width: 55%;
}
.header-center .nav ul{
	margin-left: 30px;
}
.header-center .nav ul li {
	display: inline-block;
	width: 95px;
	line-height: 60px;
	_zoom:1;
	*display: inline;
	float: left;
	text-align: center;
}
.header-center .nav ul li a:link,.header-center .nav ul li a:visited{
	color: #515151;
}
.header-center .nav ul li a:hover,.header-center .nav ul li a:active{
	color: #4169E1;
}
.header-center .land{
	float: right;
	width: 25%;
	line-height: 60px;
}
.header-center .land img{
	float: left;
	line-height: 60px;
	margin-top:12px; 
	border-radius: 20px;
}
.header-center .land ul li {
	display: inline-block;
	width: 70px;
	text-align: center;
	zoom:1;
	display: inline;
	float: left;
}
.header-center .land ul li a{
	color: #515151;
}
.header-center .land ul li a:hover{
	color: #4169E1;
}
.header-center .land ul .info a:hover{
	display: block;
	background: bisque;
	padding-left: 2px;
	color: white;
}
#alertpic{
	position: absolute;
	z-index: 999;
	top: 130px;
	right: 150px;
	display: none;
}
.header-center .land #landingWindow{
	width: 480px;
	height: 300px;
	background: white;
	display: none;
	position: absolute;
	z-index: 400;
	left: 60%;
}
.header-center .land #landingWindow .landing-left{
	float: left;
	width: 190px;
}
.header-center .land #landingWindow .landing-left p{
	font-size: 13px;
}
.header-center .land #landingWindow .landing-left div{
	height: 125px;
	border-right: 1px solid #ddd;
	margin-top: 10px;
}
.header-center .land #landingWindow .landing-left div img{
	margin: 0 0 0 30px;
	cursor: pointer;
}
.header-center .land #landingWindow .landing-right{
	float: left;
	width: 290px;
}
.header-center .land #landingWindow .landing-right p{
	font-size: 13px;
}
.header-center .land #landingWindow .landing-right  form .landing-put{
	width: 200px;
	height: 25px;
	color: gray;
	outline:medium;
	display: block;
	margin: 12px 0 0 30px;
}
.header-center .land #landingWindow .landing-right  form .denglu{
	display: inline;
	width:65px;
	height: 30px;
	background: orange;
	color: white;
	border: none;
	cursor: pointer;
	margin-left: -45px;
	font-size: 15px;
}
.header-center .land #landingWindow .landing-right  label input{
	margin-left: 15px;
}
.header-center .land #landingWindow .landing-right  label span{
	font-size: 13px;
}
.header-center .land #landingWindow .landing-right  div{
	margin-top: -10px;
	margin-left: -100px;
	background: url(../img/qq.png) no-repeat 130px center;
	font-size: 13px;
}
.main{
	width: 100%;
	background:#EFF3F6 url(../img/1404526.jpg) no-repeat center 60px;
	height: 4000px;
	padding: 60px 0 0 0;
}
.mian-center{
	width: 1000px;
	margin: 0 auto;
}
.mian-top .tot{
	height: 85px;
	line-height: 85px;
	position: relative;
}
.mian-top .tot li {
	float: left;
	width: 9.0%;
	text-align: center;
}
.mian-top .tot li a {
	color: #555555;
	font-size: 23px;
	display: block;
}
.mian-top .tot li  .team{
	background: url(../img/jiantou.png) no-repeat 70px 38px;
}
.mian-top .tot li  .team:hover{
	background: url(../img/jiantou2.png) no-repeat 68px 35px;
}
.mian-top .tot li a:hover{
	color: gray;
}
.mian-top .tot li a span{
	line-height: 3px ;
	display: inline-block;
}
.mian-top #tot-team{
	width: 1000px;
	height: 190px;
	display: none;
	position: absolute;
	top: 85px;
	left: 0px;
	z-index: 999;
}
.mian-top #tot-team a {
	display: block;
	float: left;
	width: 99px;
	height: 89px;
	border-right: 1px solid gainsboro;
	border-bottom: 1px solid gainsboro;
	font-size: 13px;
	color: black;
}
.mian-top #tot-team #tot-team-1{
	background: white url(../img/team_icon_pl.png) no-repeat 24px -151px;
}
.mian-top #tot-team #tot-team-2{
	background: white url(../img/team_icon_pl.png) no-repeat 24px 9px;	
}
.mian-top #tot-team #tot-team-3{
	background: white url(../img/team_icon_pl.png) no-repeat 24px -71px;	
}
.mian-top #tot-team #tot-team-4{
	background: white url(../img/team_icon_pl.png) no-repeat 24px -232px;	
}
.mian-top #tot-team #tot-team-5{
	background: white url(../img/team_icon_pl.png) no-repeat 24px -311px;	
}
.mian-top #tot-team #tot-team-6{
	background: white url(../img/team_icon_pl.png) no-repeat 24px -392px;	
}
.mian-top #tot-team #tot-team-7{
	background: white url(../img/team_icon_pl.png) no-repeat 24px -471px;	
}
.mian-top #tot-team #tot-team-8{
	background: white url(../img/team_icon_pl.png) no-repeat 24px -551px;	
}
.mian-top #tot-team #tot-team-9{
	background: white url(../img/team_icon_pl.png) no-repeat 24px -632px;	
}
.mian-top #tot-team #tot-team-10{
	background: white url(../img/team_icon_pl.png) no-repeat 24px -710px;	
}
.mian-top #tot-team #tot-team-11{
	background: white url(../img/team_icon_pl.png) no-repeat 24px -788px;	
}
.mian-top #tot-team #tot-team-12{
	background: white url(../img/team_icon_pl.png) no-repeat 24px -870px;	
}
.mian-top #tot-team #tot-team-13{
	background: white url(../img/team_icon_pl.png) no-repeat 24px -949px;	
}
.mian-top #tot-team #tot-team-14{
	background: white url(../img/team_icon_pl.png) no-repeat 24px -1029px;	
}
.mian-top #tot-team #tot-team-15{
	background: white url(../img/team_icon_pl.png) no-repeat 24px -1110px;	
}
.mian-top #tot-team #tot-team-16{
	background: white url(../img/team_icon_pl.png) no-repeat 24px -1192px;	
}
.mian-top #tot-team #tot-team-17{
	background: white url(../img/team_icon_pl.png) no-repeat 24px -1270px;	
}
.mian-top #tot-team #tot-team-18{
	background: white url(../img/team_icon_pl.png) no-repeat 24px -1352px;	
}
.mian-top #tot-team #tot-team-19{
	background: white url(../img/team_icon_pl.png) no-repeat 24px -1430px;	
}
.mian-top #tot-team #tot-team-20{
	background: white url(../img/team_icon_pl.png) no-repeat 24px -1508px;	
}
.mian-top #tot-team a span{
	display: block;
	text-align: center;
	margin-top: 30px;
}
.mian-top .date .tuwen{
	height: 110px;	
	width: 99px;
	background: white;
	font-size: 14px;
	float: left;
	border-right: 1px solid #ccc;
	border-top: 2px solid #556B2F;
	color: #aaa;
}
.mian-top .date .tuwen>span{
	text-align: center;
	display: block;
	padding-top: 10px;
}
.mian-top .date .tuwen .tuwen-left{
	float: left;
	padding: 0 0 5px 10px;
	line-height: 23px;
	color: #2F4F4F;
}
.mian-top .date .tuwen .tuwen-right{
	float: right;
	padding: 0 10px 5px 0;
	line-height: 23px;
	color: #2F4F4F;
}
.mian-top .date .tuwen .tuwen-bottom{
	clear: both;
	text-align: center;
	font-size: 13px;
}
.mian-mid .picture{
	width: 1000px;
	height: 360px;
	overflow: hidden;
}
.mian-mid .picturea{
	width: 660px;
	height: 360px;
	overflow: hidden;
	float: left;
	position: relative;
}
#list { width: 4200px; height: 400px; position: absolute; z-index: 1;}
#list img { float: left;}
 #buttons { position: absolute; height: 10px; width: 100px; z-index: 2; bottom: 20px; left: 250px;}
#buttons span { cursor: pointer; float: left; border: 1px solid #fff; width: 10px; height: 10px; border-radius: 50%; background: #333; margin-right: 5px;}
#buttons .on {  background: orangered;}
.arrow { cursor: pointer; display: none; line-height: 39px; text-align: center; font-size: 36px; font-weight: bold; width: 40px; height: 40px;  position: absolute; z-index: 2; top: 180px; background-color: RGBA(0,0,0,.3); color: #fff;}
.arrow:hover { background-color: RGBA(0,0,0,.7);}
#container_aa:hover .arrow { display: block;}
#prev { left: 20px;}
#next { right: 20px;}       
.mian-mid .picture .pic-right{
	float: right;
	width: 300px;
	height: 360px;
}
.mian-mid .picture #pic-right-top{
	width: 300px;
	height: 140px;
	margin-top: 10px;
	overflow: hidden;
}
.mian-mid .picture .pic-right ul{
	font-size: 14px;
}
.mian-mid .picture .pic-right ul a{
	color: black;
	display: inline-block;
	margin: 8px 0 0 10px;
}
.mian-mid .picture .pic-right ul a:hover, span:hover{
	color: gray;
	opacity:0.4;
    filter:alpha(opacity=40);
}
.mian-mid .picture .pic-right>a{
	margin-top:10px;
	display: block; 
	position: relative;
}
.mian-mid .picture .pic-right>a img{
	border: none;
}
.mian-mid .picture .pic-right>a p{
	color: white;
	text-align: center;
	position: absolute;
	bottom: 4px;
	left: 0;;
	background:  black;
	width: 300px;
	opacity: 0.7;
	filter:alpha(opacity=70);
}
.mian-mid .picture .pic-right span{
	display: block;
	width: 40px;
	height: 40px;
	background: url(http://i0.sinaimg.cn/ty/2014_premierleague/icons.png) no-repeat  0 -1px;
	position: absolute;
	bottom: 35px;
	left: 20px;
}
.mian-mid .flash{
	height: 87px;
	width: 1000px;
	margin-top:10px;
	background:url(../img/guanjun.jpg) no-repeat;
}
.mian-mid .flash ul{
	margin-left: 150px;
	height: 87px;
}
.mian-mid .flash ul li{
	float: left;
	width: 137px;
	height: 86px;
}
.mian-mid .flash ul li a {
	position: relative;
	padding: 0 2px;
	overflow: hidden;
}
.mian-mid .flash ul li a img{
	border-left: 2px solid royalblue;
	border-right: 2px solid royalblue;
}
.mian-mid .flash ul li a {
	display: block;
	height: 86px;
	width: 137px;
	overflow: hidden;
}
.mian-mid .flash ul li a img:hover,.news-content a img:hover{
	transform: scale(1.02);
	transition: transform 0.3s ease 0s;
}
.mian-mid .flash ul li a p{
		color: white;
		text-align: center;
		position: absolute;
		bottom: 0px;
		left: 3px;
		background:  black;
		width: 138px;
		opacity: 0.7;
		filter:alpha(opacity=70);
		font-size: 13px;
}
.main-bottom{
	margin-top: 10px;
}
.main-bottom-left{
	width: 660px;
	height: 1000px;
	float: left;
}
.main-bottom-right{
	width: 300px;
	height: 1000px;
	float: right;
}
.main-bottom .main-bottom-left .new{
	margin-bottom: 20px;
	height: 335px;
}
.main-bottom .new .score{
	width: 160px;
	height: 295px;
	float: left;
	padding: 20px 10px;
	background: #eee;
}
.main-bottom .new .news-new{
	width: 480px;
	height: 335px;
	float: right;
	background: white;
	position: relative;
}
.main-bottom .new .score .finish{
	height: 20px;
	background: rgba(0 ,0,0,0)url(../img/icons.png) no-repeat 10px -85px ;
	text-indent:40px;
	font-size: 18px;
	font-weight: bold;
	color: #cvv;
	line-height: 20px;
}
.main-bottom .new .score .two{
	background: rgba(0,0,0,0)url(../img/icons.png) no-repeat 10px -131px ;
}
.main-bottom .new .score p{
	font-size: 14px;
	margin: 15px 0;
}
.main-bottom .new .score .sco-1{
	width: 50%;
	height: 180px;
	float: left;
}
.main-bottom .new .score .sco-1 p{
	text-align: center;
	color: gray;
}
.main-bottom .new .score .sco-1 span{
	text-align: center;
	font-size: 40px;
	display: block;
	font-weight: bold;
}
.main-bottom .new .score .sco-sec{
	clear: both;
	margin-top: -25px;
	text-align: center;
}
.main-bottom .new .score .sco-sec a {
	font-size: 13px;
	color: white;
	background: burlywood;
	margin: 0 -2px 0  0;
	padding: 3px ;
}
.main-bottom .new .score .sco-sec a:hover{
	color:#5F9EA0;
}
.main-bottom .new .news-new h2 a{
	display: block;
	font-size: 20px;
	color: #363636;
	font-weight: normal;
	text-align: center;
	margin-top:10px; 
}
.main-bottom .new .news-new .title{
	height: 30px;
	background: url(../img/video_icon.png) no-repeat 25px 19px;
	padding: 15px 0 5px 5px;		
}
.main-bottom .new .news-new ul {
	margin-left: 50px;
}
.main-bottom .new .news-new ul li {
	display: inline-block;
	float: left;
	font-size: 14px;
	margin: 0 2px;
	cursor: pointer;
	color: #483D8B;
}
.main-bottom .new .news-new ul li:hover,.main-bottom .new .news-new h2 a:hover{
	color: #DC143C;
}
.main-bottom .new .news-new .content ul{
	margin-left: 25px;
}
.main-bottom .new .news-new .content li {
	font-size: 15px;
	padding: 5px 70px 5px 0;
	letter-spacing: 0.5px;;
}
.main-bottom .new .news-new .content li a:hover{
	color: #778899;
}
.main-bottom .new .news-new .content li a{
	color: black;
}
.main-bottom .new .news-new .content .more{
	font-size: 13px;
	position: absolute;
	right: 40px;
	bottom: 10px;
	cursor: pointer;
	background: #DEB887;
	padding: 2px 5px;
}
.main-bottom #ball-team{
	width: 660px;
	height: 95px;
	background: white;
	font-size: 14px;
}
.main-bottom #ball-team ul{
	border-top: 2px solid  	#4169E1;
}
.main-bottom #ball-team ul li{
	float: left;
	width: 78px;
	height: 53px;
	position: relative;
	height: 93px;
	overflow: hidden;
}
.main-bottom #ball-team ul li p{
	width: 78px;
	height: 93px;
	display: block;
	position: absolute;
	top: 0px;
}
.main-bottom #ball-team ul  li:first-child{
	background: url(../img/team_icon_pl.png) no-repeat center -1588px;
	border-right: 1px solid #ddd;
	cursor: pointer;
}
.main-bottom #ball-team ul li:first-child span{
	color: red;
}
.main-bottom #ball-team ul #team2{
	background: url(../img/team_icon_pl.png) no-repeat center -148px;
	cursor: pointer;
}
.main-bottom #ball-team ul #team3{
	background: url(../img/team_icon_pl.png) no-repeat center 13px;
	cursor: pointer;
}
.main-bottom #ball-team ul #team4{
	background: url(../img/team_icon_pl.png) no-repeat center -66px;
	cursor: pointer;
}
.main-bottom #ball-team ul #team5{
	background: url(../img/team_icon_pl.png) no-repeat center -308px;
	cursor: pointer;
}
.main-bottom #ball-team ul #team6{
	background: url(../img/team_icon_pl.png) no-repeat center -227px;
	cursor: pointer;
}
.main-bottom #ball-team ul #team7{
	background: url(../img/team_icon_pl.png) no-repeat center -387px;
	cursor: pointer;
}
.main-bottom #ball-team ul #team8{
	background: url(../img/team_icon_pl.png) no-repeat center -947px;
	border-right: 1px solid #ddd;
	cursor: pointer;  
}
.main-bottom #ball-team ul li:nth-child(8){
	border-right: 1px solid #ddd;
}
.main-bottom #ball-team ul .icon{
	background: url(../img/arr_1.png) no-repeat  0 0 ;
	top: 41px;
	left: 10px;
}
.main-bottom #ball-team ul li a{
	display: block;
	height: 9px;
	width: 78px;
}
.main-bottom #ball-team ul li span{
	display: block;
	position: absolute;
	height: 40px;
	width: 78px;
	line-height: 40px;
	bottom: -3px;
	color: gray;
	left: 0;
	text-align: center;
}
.main-bottom .news-content{
	width: 660px;
	height: 200px;
	border-bottom: 1px solid #ccc;
}
.main-bottom .news-content h2{
	font-size: 20px;
	color: #333333;
	padding: 20px 0 20px 5px ;
}
.main-bottom .news-content .pp{
	padding-left: 20px;
	width: 502px;
	float: left;
}
.main-bottom .news-content .pp p{
	color: #666666;
	line-height: 1.5;
}
.main-bottom .news-content .key,.main-bottom .news-content .key a {
	font-size: 15px;
	color:#333333;
	clear: both;
}
.main-bottom .news-content .key-left{
	float: left;
	height: 46px;
	line-height: 46px;
}
.main-bottom .news-content .key-left a{
	margin-left: 10px;
}
.main-bottom .news-content .key,.main-bottom .news-content .key a:hover{
	color: #4169E1;
}
.main-bottom .news-content .key-right{
	height: 46px;
	line-height: 46px;
	float: right;
}
.news-content .add {
	width: 130px;
	height: 86px;
	display: block;
	overflow: hidden;
	float: left;
}
.main-bottom .page ul{
	text-align: center;
	margin-top: 20px;
	margin-left: 150px;
}
.main-bottom .page ul li{
	display: inline-block;
	float: left;
	width: 70px;
	height: 35px;
	background: white;
	font-size: 14px;
	text-align: center;
	line-height: 35px;
	color: #282828;
	border-radius: 2px;
	margin: 0 3px;
}
.main-bottom .page ul .num{
	width: 40px;
}
.main-bottom .page ul li a{
	color: #282828;
	display: block;
}
.main-bottom .page ul li a:hover{
	color: #4876FF;
}
.main-bottom-right .tot-title-left{
	float: left;
	height: 26px;
	line-height: 26px;
	margin-bottom: 15px;
}
.main-bottom-right .tot-title-left h2{
	font-weight: normal;
}
.main-bottom-right .tot-title-left h2 .she{
	color: gray;
	margin-left: 10px;
}
.main-bottom-right .tot-title-right{
	float: right;
	height: 26px;
	line-height: 26px;
}
.main-bottom-right .tot-title-right a{
	color:  #666666;
	background: rgba(0, 0, 0, 0) url(../img/plus.png) no-repeat 8px center;
	width: 60px;
	display: block;
	text-align: right;
	font-size:17px;
}
.main-bottom-right .tot-title-right a:hover,img:hover{
	color: #5F9EA0;
}
.main-bottom-right .information .information-word{
	text-align: center;
	margin-bottom: 15px;
}
.main-bottom-right .points table{
	width: 300px;
	height: 280px;
	background: white;
}
.main-bottom-right .points table .tr-fir{
	height: 30px;
}
.main-bottom-right .points table .tr-fir th,td{
	width: 57px;
	text-align: center;
	font-size: 15px;

}
.main-bottom-right .points table .tr-fir th{
	color: #8B5F65;
}
.main-bottom-right .points table .hb{
	background:#87CEFF  url(../img/plus.png) no-repeat 90px center;
	color: #8B5F65;
}
.main-bottom-right .points table tr:hover{
	background: #CCCCCC;
	border: 3px solid #8B6969;
}
.main-bottom-right .reader .reader-pic p{
	font-size: 13px;
	color: #545454;
	text-align: center;
}
.main-bottom-right .research .question{
	clear: both;
	font-size: 13px;
}
.main-bottom-right .research .question h3{
	font-weight: normal;
	margin-bottom:5px;
	text-indent: 20px;
	background: url(../img/item_caps.png) no-repeat left center; 
}
.main-bottom-right .research .question label{
	margin: 0 0 0 10px;
	color: #999;
}
.main-bottom-right .research p{
	font-size: 13px;
	margin: 10px 0 0 25px;
	padding-left: 20px;
	background:white url(../img/histogram.png) no-repeat -145px -84px;
	display: inline-block;
}
.main-bottom-right .research p span{
	color: orange;
}
.main-bottom-right .research .submit{
	margin: 10px 0 0 25px;
	background: gray;
	border: none;
	color: #eee;
	padding: 0 15px;
	border-radius: 3px;
	height: 20px;
	line-height: 20px;
}
.main-bottom-right .research .button{
	border:none;
	border-radius: 3px;
	background: orange;
	color: white;
	padding: 0 15px;
	margin-left: 5px;
	display: inline-block;
	height: 20px;
	line-height: 20px;
}
.main-bottom-right .date .selected{
	clear: both;
	width: 300px;
	height: 35px;
	border-bottom: 1px solid #888;
	background: rgba(0 ,0, 0 ,0 ) url(../img/small_arrow.png) no-repeat 0 3px;
}
.main-bottom-right .date .selected #year{
	margin-left: 60px;
	width: 60px;
	height: 25px;
	border: 1px solid #ccc;
	text-align: center;
	-webkit-text-align: center;
	border-radius: 3px;
}
.main-bottom-right .date .selected #month{
	margin-left: 15px;
	width: 60px;
	height: 25px;
	border: 1px solid #ccc;
	text-align: center;
	-webkit-text-align: center;
	border-radius: 3px;
}
.main-bottom-right .date table td,th{
	font-size: 12px;
	padding: 8px;
	color: gray;
	padding: 5px;
	height: 21px;
}
.main-bottom-right .date table .sel{
	color: black;
}
.main-bottom-right .date table .sel td:hover{
	background: url(../img/sinaCal.png) no-repeat 6px -39px;
}
#float{
	position: fixed;
	right: 50px;
	bottom: 250px;
}
#float .big{
	background: #CDC5BF;
	font-size: 12px;
	text-align: center;
	width: 100px;
	float: right;
}
#float a{
	color: black;
}
#float .small{
	width: 40px;
	height: 20px;
	background: white;
	font-size: 12px;
	text-align: center;
	float: right;
	cursor: pointer;
	clear: both;
}
#sidebar{
	position: fixed;
	right: 0;
	z-index: 1000;
	height: 785px;
	width: 35px;
	background: lavender;
	top: 0;
}
#sidebar ul{
	margin-top: 440px;
}
#sidebar li{
	display: block;
	width: 35px;
	height: 35px;
	cursor: pointer;
}
#sidebar ul li:first-child{
	background: url(../img/sidebaricon.png) no-repeat  8px 11px ;
}
#sidebar ul li:nth-child(2){
	background: url(../img/sidebaricon.png) no-repeat  9px  -108px;
}
#sidebar ul li:nth-child(3){
	background: url(../img/sidebaricon.png) no-repeat  8px  -141px;
}
#sidebar ul li:nth-child(4){
	background: url(../img/sidebaricon.png) no-repeat  8px  -170px;
}
#sidebar ul li:nth-child(5){
	background: url(../img/sidebaricon.png) no-repeat  8px  -232px;
}
#sidebar ul li:first-child:hover{
	background:  gray url(../img/sidebaricon.png) no-repeat  -27px 11px ;
}
#sidebar ul li:nth-child(2):hover{
	background: gray url(../img/sidebaricon.png) no-repeat  -27px  -108px;
}
#sidebar ul li:nth-child(3):hover{
	background: gray url(../img/sidebaricon.png) no-repeat  -27px  -141px;
}
#sidebar ul li:nth-child(4):hover{
	background: gray url(../img/sidebaricon.png) no-repeat  -27px  -170px;
}
#sidebar ul li:nth-child(5):hover{
	background: gray url(../img/sidebaricon.png) no-repeat  -27px  -232px;
}
#sidebar li span{
	display: block;
	background: gray;
	width: 50px;
	height: 35px;
	position: absolute;
	right: -80px;
	font-size: 13px;
	color: orange;
	text-align: center;
	line-height: 35px;
}
#sidebar ul li:nth-child(4) span ,#sidebar ul li:nth-child(5) span {
	width: 80px;
}
#menuA {
	position: fixed;
	top: 300px;
	left: 90px;
}
#menuA ul li a{
	display: block;
	width: 80px;
	height: 50px;
	line-height: 50px;
	text-align: center;
	color: gray;
}
#menuA ul li:hover , #menuA ul  .off{
	background: orange;
	color: gainsboro;
	color: white;
}
footer {
	color: #4D4D4D;
	font-size: 12px;
}
footer  .footer-fir{
	text-align: center;
	margin: 30px 0 10px 0;
}
footer  .footer-fir a{
	color: #4D4D4D;
}
footer  .footer-fir p{
	display: inline;
}
footer .footer-about{
	text-align: center;
}
footer .footer-about li{
	display: inline-block;
	cursor: pointer;
	zoom:1;
	*display:inline;
}
footer .footer-about li:hover{
	color: #FF7F00;
}
.copyright{
	display: block;
	text-align: center;
	margin: 8px 0;
	cursor: pointer;
}
.sina{
	display: block;
	text-align: center;
	margin: 8px 0 15px 0;
}



.picturea{
	height: 310px;
	margin-top: 5px;
	overflow: hidden;
}
.picturea .pic {
	background: url(../img/loading.gif) no-repeat center center ;
}